---
title: Home
---

<div class="map map--hero">
    <div class="map__container">
        <div class="map__label">
            <h1 class="title is-1 is-size-4-mobile">
                Hiking Costa Rica:
            </h1>
            <h2 class="subtitle is-3 is-size-5-mobile">
                From Sea to Sea
            </h2>
        </div>
        <div class="map__label map__label--right">
            <p class="is-size-5 is-half is-size-6-mobile">A father and son’s journey from the Caribbean to the Pacific</p>
        </div>
        {% include full-map-web.svg %}
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <p class="journal--drew">
                    On <strong>November 30th, 2018</strong> I set off on an adventure with my 80-year-old dad, our friend Skittles, and our guide Orlando
                    on a hike across Costa Rica from the Caribbean coast to the Pacific. We both kept journals of our adventure.
                    <br>
                    <br>
                    We've put them together into a book and this website. <a href="{{ site.journals[0].url | relative_url }}">Start reading Day 1</a>.
                </p>
            </div>
        </div>
    </div>
</section>

{% include img.html src="/assets/day-00/IMG_1391.JPG" caption="From right: George, Drew, Skittles, and Orlando" %}

<section class="section">
    <div class="container">
        
        <br>
        <div class="has-text-centered">
            <p>Signup for updates:</p>
            {% include signup.html class="mt-2" center="true" %}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered-mobile">The Hikers</h1>
        <div class="columns is-vcentered is-reversed-column">
            <div class="column" data-aos="flip-up" data-aos-duration="1000">
                {% include img.html src="/assets/day-00/IMG_1152.JPG" caption="George smiling" frame="true" %}
            </div>
            <div class="column">
                <article>
                    <p class="journal--george">
                        <strong>George Hornbein</strong>
                        <br>
                        I have made two hikes across Costa Rica, one in December of 2017 with my friend Gail Haggard and one in December, 2018
                        with my son Drew and Rich Larson, aka Skittles. Both hikes were made with our guide, Orlando Zamares, who has crossed
                        the country more than 30 times.
                        Drew and I both wrote of our adventure.
                    </p>
                </article>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                {% include img.html src="/assets/day-00/IMG_1930.JPG" caption="Drew & George" frame="true" %}
            </div>
            <div class="column">
                <article data-aos="flip-up" data-aos-duration="1000">
                    <p class="journal--drew">
                        <strong>Drew Hornbein</strong>
                        <br>
                        On November 30th, 2018 I set off on an adventure with my 80-year-old dad, our friend Skittles, and our guide Orlando
                        on a hike across Costa Rica from the Caribbean coast to the Pacific. I kept a written journal and captured the random
                        tangents of a wandering mind.
                    </p>
                </article>
            </div>
        </div>
        <div class="columns is-vcentered is-reversed-column">
            <div class="column">
                {% include img.html src="/assets/day-00/IMG_1616.JPG" caption="Orlando with his granddaughter" frame="true" %}
            </div>
            <div class="column">
                <article>
                    <p>
                        <strong>Orlando Zamares</strong>
                        <br>
                        Having crossed Costa Rica over 30 times Orlando guided the group.
                    </p>
                </article>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                {% include img.html src="/assets/day-00/IMG_1129.JPG" frame="true" %}
            </div>
            <div class="column">
                <article>
                    <p>
                        <strong>Rich "Skittles" Larson</strong>
                        <br>
                        Having crossed Costa Rica over 30 times Orlando guided the group.
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered-mobile">The Hike</h1>
        <p>
            From November 30 to December 17th George, Drew, and Skittles were lead by Orlanda from Limón to Quepos Costa Rica.
            The hike took 18 days across <strong>271 miles (333 Km)</strong>.
        </p>
    </div>
</section>

<div class="map">
    <div class="map__container">
        <div class="map__label">
            <p class="title">18 Days</p>
            <p class="subtitle">Limón to Quepos</p>
        </div>
        {% include full-map-web.svg %}
    </div>
    <div class="map__container-elev">
        <div class="container">
            <p class="pl-1"><strong>Elevation Profile</strong></p>
        </div>
        {% include full-map-elevation.svg %}
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for day in site.data.hike %}
            <div class="column is-one-third">
                {% if site.journals[forloop.index0] %}
                <a href="{{ site.journals[forloop.index0].url }}">
                    <strong>{{ site.journals[forloop.index0].title }}</strong>
                    <br>
                    {{ site.journals[forloop.index0].destination }}
                </a>
                {% else %}
                    <strong>Day {{ forloop.index }}</strong> <small class="tag is-light">Coming soon!</small>
                    <br>
                    {{ day }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>