<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns is-centered">
            <div class="column is-half">
                <p>Be the first to know when the next journal is published!</p>
                {% if page.url == "/" %}
                <a href="#intro">Join Newsletter</a>
                {% else %}
                {% include signup.html center="true" %}
                {% endif %}
            </div>
        </div>
        <p>
            <strong>Hiking Costa Rica: Sea to Sea</strong> by <a href="https://dhornbein.com">Drew Hornbein</a>. All rights reserved.
        </p>
    </div>
</footer>