{% comment %}
class       {string}    css classes
placeholder {string}    input placeholder text
type        {string}    input type
submit      {string}    submit label
center      {bool}      center form group

{% endcomment %}

{% assign class = include.class %}

{% if include.center %}
    {% assign class = class | append: ' is-grouped is-grouped-centered' %}
{% else %}
    {% assign class = class | append: ' has-addons' %}
{% endif %}


<form action="https://app.convertkit.com/forms/1727846/subscriptions" method="post" data-sv-form="1727846"
    data-uid="51348977d0" data-format="inline" data-version="5"
    data-options='
    {
        "settings": {
            "after_subscribe": {
                "action":"message",
                "success_message":"Success! Now check your email to confirm your subscription.",
                "redirect_url":""
            },
            "analytics": {
                "google":null,
                "facebook":null,
                "segment":null,
                "pinterest":null
            },
            "modal": {
                "trigger":"timer",
                "scroll_percentage":null,
                "timer":5,"devices":"all",
                "show_once_every":15
            },
            "powered_by": {
                "show":false,
                "url":"https://convertkit.com?utm_source=dynamic&amp;utm_medium=referral&amp;utm_campaign=poweredby&amp;utm_content=form"
            },
            "recaptcha": {
                "enabled":false
            },
            "return_visitor": {
                "action":"show",
                "custom_content":""
            },
            "slide_in": {
                "display_in":"bottom_right",
                "trigger":"timer",
                "scroll_percentage":null,
                "timer":5,"devices":"all",
                "show_once_every":15
            },
            "sticky_bar": {
                "display_in":"top",
                "trigger":"timer",
                "scroll_percentage":null,
                "timer":5,"devices":"all",
                "show_once_every":15
            }
        },
        "version":"5"
    }'>
    <div data-style="clean">
        
        <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert">
        </ul>
        
        <div data-element="fields" data-stacked="false" class="formkit-fields field {{ class }}">
            <div class="formkit-field control">
                <input class="formkit-input input" name="email_address" aria-label="Your email address"
                    placeholder="Your email address" required="" type="email">
            </div>
            <div class="control">
                <button data-element="submit" class="button is-info formkit-submit formkit-submit">
                    <div class="formkit-spinner">
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <span class="">Join Newsletter</span>
                </button>
            </div>
        </div>
    </div>

</form>