// BULMA Overwrites
$family-primary: arvo, serif;
$title-family: $family-primary;
$title-weight: 400;
$title-strong-weight: 700;
$subtitle-family: $title-family;
$subtitle-weight: $title-weight;
$subtitle-strong-weight: $title-strong-weight;

@import "../node_modules/bulma/bulma";

// My variables
$font-drew-family: felt-tip-roman, sans-serif;
$font-drew-weight: 400;
$font-drew-style: normal;

$font-george-family: Georgia, sans-serif;
$font-george-weight: 400;
$font-george-style: normal;