.journal--george {
    font-family: $font-george-family;
    font-weight: $font-george-weight;
    font-style: $font-george-style;
}
.journal--drew {
    font-family: $font-drew-family;
    font-weight: $font-drew-weight;
    font-style: $font-drew-style;
    font-size: 1.2em;
    line-height: 1.5rem;
}

.journal__label {
    background-color: $white;
    padding: $column-gap;
    z-index: 100;
    box-shadow: 0 2px 6px rgba($black, .2);
    &.js-is-sticky {
    }
}

.journal {
    .hero {
        background-size: cover;
        background-position: center;
    }
    .hero.is-dark .title,
    .hero.is-dark .subtitle {
        text-shadow: 0 1px 3px rgba($black, .7);
    }
}

.journal--box {
    background-color: $scheme-main;
    padding: 1rem;
}

.journal__footer {
    background-color: $grey-lighter;
    display: flex;
    margin: 0;
    .journal__footer-button {
        flex: 0 0 50%;
        a {
            display: block;
            padding: $column-gap;
        }
    }
    .journal__footer--prev {}
    .journal__footer--next {
        text-align: right;
    }
}