.journal--george {
    font-family: $font-george-family;
    font-weight: $font-george-weight;
    font-style: $font-george-style;
}
.journal--drew {
    font-family: $font-drew-family;
    font-weight: $font-drew-weight;
    font-style: $font-drew-style;
    font-size: 1.2em;
    line-height: 1.5rem;
}

.journal {
    .hero {
        background-size: cover;
        background-position: center;
    }
    .hero.is-dark .title,
    .hero.is-dark .subtitle {
        text-shadow: 0 1px 3px rgba($black, .7);
    }
}

.journal--box {
    background-color: $scheme-main;
    padding: 1rem;
}