.map {
    position: relative;
}

$map-animation-duration: 500ms;

.map__svg {
    display: block;
}

.map__container {
    background: url(../day-00/sat-map-clean.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    max-height: 80vh;
    position: relative;
}

.map__label {
    position: absolute;
    top: $column-gap;
    left: $column-gap;
    max-width: 50%;

    .title, .subtitle {
        color: $white;
    }
}

.map__container-elev {
}

#mapSVG {
    width: 100%;
    height: auto;
    max-width: $widescreen;
    path {
        stroke: $white;
        pointer-events: bounding-box;
        cursor: pointer;
        &:hover {
            stroke: $primary;
            
        }

        stroke-dasharray: 220;
        stroke-dashoffset: 220;
        animation: dash $map-animation-duration ease-out forwards;
    }
  
    @for $i from 01 through 18 {
        #day#{$i} {
            animation-delay: $map-animation-duration * $i;
        }
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 220;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
}

#mapElevSVG {
    width: 100%;
    height: auto;

    polygon {
        pointer-events: bounding-box;
        cursor: pointer;
        &:hover {
            fill: $primary;
        }
    }
}