.map {

}

$map-animation-duration: 500ms;

.map__svg {
    width: 100vw;
    max-width: 600px;
    path {
        pointer-events: bounding-box;
        cursor: pointer;
        &:hover {
            stroke: $primary;
            
        }

        stroke-dasharray: 140;
        stroke-dashoffset: 140;
        animation: dash $map-animation-duration ease-out forwards;
    }

    @for $i from 01 through 17 {
        $t: zerofill($i);
        #day#{$t} {
            animation-delay: $map-animation-duration * $i;
        }
    }
}

@keyframes dash {
  from {
    stroke-dashoffset: 140;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.map__legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;;

    li {
        flex-grow: 1;
    }

    li a {
        cursor: pointer;
        &:hover {
            background-color: $primary;
        }
    }
}