.map {
    position: relative;
}

$map-animation-duration: 500ms;

.map__svg {
    display: block;
}

.map__container {
    background: url(../day-00/sat-map-clean.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    max-height: 80vh;
    position: relative;
}

.map--hero {
    .map__container {
        max-height: calc(100vh - #{$navbar-height});
    }
    path {
        stroke-width: 8px;
    }
}

// #mapSingleSVG {
//     width: 100%;
//     height: auto;
//     display: block;
//     #route {
//         stroke: #fff;
//         stroke-width: 3px;
//     }
// }

.map__label {
    position: absolute;
    top: $column-gap;
    left: $column-gap;

    .title, .subtitle, p {
        color: $white;
    }

    &.map__label--right {
        top:unset;
        left:unset;
        bottom: $column-gap;
        right: $column-gap;
        max-width: 50%;
    }
}

.map__container-elev {
}

#mapSVG {
    width: 100%;
    height: auto;
    max-width: $widescreen;
    path {
        stroke: $white;
        pointer-events: bounding-box;
        cursor: pointer;
        &:hover {
            stroke: $primary;
            
        }

        stroke-dasharray: 220;
        stroke-dashoffset: 220;
        animation: dash $map-animation-duration ease-out forwards;
    }
  
    @for $i from 01 through 18 {
        #day#{$i} {
            animation-delay: $map-animation-duration * $i;
        }
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 220;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
}

#mapElevSVG {
    width: 100%;
    height: auto;

    polygon {
        pointer-events: bounding-box;
        cursor: pointer;
        &:hover {
            fill: $primary;
        }
    }
}