---
---

@import url("https://use.typekit.net/tth8xxw.css");
@import "base";
@import "images";
@import "map";
@import "home";
@import "journal";

.is-reversed-column {
    flex-direction: row-reverse;
}

@include mobile {
    .field.is-grouped.is-grouped-centered {
        flex-direction: column;
        .control {
            margin-right: 0;
            margin-bottom: 0.75rem;
        }
    }
}
