---
title: Day 1
destination: "Tidewater Canal to Dona Yolanda's"
date: 2018-11-30
slug: 01
---

<section class="hero is-dark is-fullheight-with-navbar" style="background-image: url({{ '/assets/day-01/IMG_0306.JPG' | relative_url }});">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Day 1
            </h1>
            <h2 class="subtitle is-3">
                Tidewater Canal
                <br>
                to Dona Yolanda's
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter content journal--george">
                <p>
                    Our hike begins on the 30th of November at a tidewater canal, but without sight of the ocean. Skittles is disappointed
                    not to be able to dip his feet in the Atlantic to start off, and Orlando promises to fix that the next time we trek
                    across the county. Our destination for today is Yolanda’s home 20 kilometers to the west.
                </p>

                <p>
                    The first kilometer from the boat dock is through the woods. Orlando points to a green toucan that we only spot when it
                    flies off. We hear the high pitched warble followed by a strange rasping sound of an oropéndola, the beautiful bird with
                    the golden tail that captivates us as it moves about the trees.
                </p>

                {% include youtube.html id="JqgUjW-Ph9U" %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% include img.html round="true" class="is-4by3" src="/assets/day-01/IMG_0320.JPG" caption="Drew, Orlando, Skittles on the right" %}
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark is-fullheight is-bg-img-right"
    style="background-image: url({{ '/assets/day-01/IMG_0344.JPG' | relative_url }});">
    <div class="hero-body">
        <div class="container">
            
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="{{ '/assets/day-01/IMG_0286.JPG' | relative_url }}" alt="">
            </div>
            <div class="column content journal--drew">
                <p>
                    We started walking today. Woke on the floor of a strange house, friends of Orlando who live along a railroad track. We
                    were served dinner and played cards with the owner. Breakfast of rice and beans (a Costa Rican staple), fried cheese,
                    and Coffee. In the wet grey morning, a cab picks us up and struggles to carry us four giant men and our bags across the
                    rough roads. The driver’s son sits in his lap as the 6 of us go some 8 kilometers east towards the sea. The futility of
                    driving 20 minutes and walking back the same road for hours, a peculiar hobby.
                </p>

                <p>
                    Light rain and grey skies. Flowers, birds, cows, and a gang of howler monkeys. We walk through a banana plantation. The
                    plants are tied together with cord to hold them up against the gravity of their green bananas wrapped in blue plastic
                    (to protect them from pests). A man dressed in a yellow smock, like a ripe fruit, sprays poison from a tank on his back.
                </p>
                
                <p>
                    We take a detour and visit the factory to see an endless stream of bananas washed and packed into familiar boxes.
                    Orlando tells us that the worst job is packing the truck, Skittles tells us that his father is the one who unloads the
                    tucks back in the US.
                </p>

            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight"
    style="background-image: url({{ '/assets/day-01/IMG_0333.JPG' | relative_url }});">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third content journal--george journal--box">
                    <p>
                        We hike through banana plantations for a couple of hours. Orlando tells us that when he was in his twenties, he spent
                        two years working on this plantation and earned enough money to buy his farm. Workers get paid by production and can do
                        quite well if they are skilled, quick, and don’t drink away their salaries. Orlando’s job was to cut bunches of bananas
                        from the plants and hand them, a bunch at a time, to runners who took them to the cable line linked to the factory where
                        they are cleaned and packed for export. The downside of the system is that if a banana bunch reaches the factory damaged
                        the workers don’t get paid for it. A supervisor can tell if the damage is caused by the cutter, the runner, or the guy
                        who delivers them via the cable line.
                    </p>

                    <p>
                        We get to kilometer 10 where we hope to see bananas processed at the factory, but the company supervisor is expecting
                        his boss to show up and probably doesn’t want to explain why visitors are touring the plant. We have to peek at the
                        process from a distance, but not so far away that we can’t see the workers prepping the bananas to the never ending beat
                        of rock and roll music.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>