---
title: Day 1
destination: "Tidewater Canal to Dona Yolanda's"
date: 2018-11-30
slug: 01
---

<section class="hero is-dark is-fullheight-with-navbar" style="background-image: url({{ '/assets/day-01/IMG_0306.JPG' | relative_url }});">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Day 1
            </h1>
            <h2 class="subtitle is-3">
                Tidewater Canal
                <br>
                to Dona Yolanda's
            </h2>
        </div>
    </div>
</section>

<div class="journal__section">
    <h1 class="journal__label journal--george is-sticky">George's Journal</h1>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter journal--george">
                    <p>
                        Our hike begins on the 30th of November at a tidewater canal, but without sight of the ocean. Skittles is disappointed
                        not to be able to dip his feet in the Atlantic to start off, and Orlando promises to fix that the next time we trek
                        across the county. Our destination for today is Yolanda’s home 20 kilometers to the west.
                    </p>

                    <p>
                        The first kilometer from the boat dock is through the woods. Orlando points to a green toucan that we only spot when it
                        flies off. We hear the high pitched warble followed by a strange rasping sound of an oropéndola, the beautiful bird with
                        the golden tail that captivates us as it moves about the trees.
                    </p>

                </div>
            </div>
            
            <div class="columns mt-2">
                <div class="column">
                    {% include img.html src="/assets/day-01/IMG_0320.JPG" caption="Orlando, Drew, Skittles on the right" %}
                </div>
            </div>
        </div>
    </section>

    {% include img.html src="/assets/day-01/IMG_0344.JPG" caption="banana plantation" class="has-inside-caption mb-2" %}

    <section class="hero is-fullheight"
        style="background-image: url({{ '/assets/day-01/IMG_0333.JPG' | relative_url }});">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third content journal--george journal--box">
                        <p>
                            We hike through banana plantations for a couple of hours. Orlando tells us that when he was in his twenties, he spent
                            two years working on this plantation and earned enough money to buy his farm. Workers get paid by production and can do
                            quite well if they are skilled, quick, and don’t drink away their salaries. Orlando’s job was to cut bunches of bananas
                            from the plants and hand them, a bunch at a time, to runners who took them to the cable line linked to the factory where
                            they are cleaned and packed for export. The downside of the system is that if a banana bunch reaches the factory damaged
                            the workers don’t get paid for it. A supervisor can tell if the damage is caused by the cutter, the runner, or the guy
                            who delivers them via the cable line.
                        </p>

                        <p>
                            We get to kilometer 10 where we hope to see bananas processed at the factory, but the company supervisor is expecting
                            his boss to show up and probably doesn’t want to explain why visitors are touring the plant. We have to peek at the
                            process from a distance, but not so far away that we can’t see the workers prepping the bananas to the never ending beat
                            of rock and roll music.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include img.html src="/assets/day-01/IMG_0333.JPG" caption="Man dressed as a banana" class="has-inside-caption is-hidden-desktop mt-2" %}


    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter journal--george">
                    <p>
                        As we leave the plantation the clouds lift, signaling that the rainy season is over and the long-awaited “summer” in
                        Costa Rica will begin. When we get to the railroad line that at one time connected the port of Limon to the capital, we
                        stop at Katy’s Market for a snack and something to drink. Orlando asks her if she could prepare a lunch for us, which
                        she agrees to do. This kindness is typical of what we consistently experience as we head for the Pacific Ocean. Katy’s
                        home is attached to her store and she invites us to have lunch in her kitchen and share the meal she had prepared for
                        her family.
                    </p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% include img.html src="/assets/day-01/IMG_0358.JPG" caption="Katie's Market" %}
                </div>
                <div class="column">
                    {% include img.html src="/assets/day-01/IMG_0355.JPG" %}
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter journal--george">

                    <p>
                        The towns along the railroad are named for the distance the rail line is from Limon. Katy’s Market is at the town of
                        Mille 24. At Mille 28 Skittles stops at a Super Mercado and buys a lovely, blue Captain Marvel umbrella to shade his
                        body that had become acclimated to the cool, sunless climate of Washington State. Drew bought a notebook and the two of
                        them learn that no one can pronounce Skittles or Drew. So Skittles, whose real name is Rich, becomes Ricardo, Drew
                        becomes Andres and I change from George to Jorge. So, in a matter of minutes three Gringos become Ticos.
                    </p>

                </div>
            </div>
        </div>
    </section>

    {% 
        include img.html src="/assets/day-01/IMG_0372.JPG"
        caption="Walking down the train tracks"
        class="has-inside-caption"
    %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter journal--george">
                    <p>
                        Around kilometer 14 we are in for a special treat. Skittles spots a sloth about ten feet to our left. Orlando says that
                        sloths climb down from their tree top homes to poop about twice a week. They dig a poop hole and cover it so predators
                        don’t know they are in the trees above. We caught this sloth slowly retreating to the safety of his home.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include img.html src="/assets/day-01/IMG_0364.JPG" %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter journal--george">

                    <p>
                        The towns along the railroad are named for the distance the rail line is from Limon. Katy’s Market is at the town of
                        Mille 24. At Mille 28 Skittles stops at a Super Mercado and buys a lovely, blue Captain Marvel umbrella to shade his
                        body that had become acclimated to the cool, sunless climate of Washington State. Drew bought a notebook and the two of
                        them learn that no one can pronounce Skittles or Drew. So Skittles, whose real name is Rich, becomes Ricardo, Drew
                        becomes Andres and I change from George to Jorge. So, in a matter of minutes three Gringos become Ticos.
                    </p>

                </div>
            </div>
        </div>
    </section>

    {%
        include img.html src="/assets/day-01/IMG_0392.JPG"
        caption="Skittles under the shade of his umbrella"
    %}

    <section class="section">
        <div class="container">
            <div class="columns is-reversed-column is-vcentered">
                <div class="column">
                    {% include img.html src="/assets/day-01/IMG_0389.JPG" %}
                </div>
                <div class="column is-one-third content journal--george journal--box">
                    <p>
                        The railroad trestle over Rio Madre de Dios is at 16.5 kilometers. There is a metal walkway on the north
                        side of the
                        tracks that should be crossed with care. I get the good advice to stop walking when I survey the pretty
                        river below so I
                        can keep myself from tripping and falling in.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include img.html src="/assets/day-01/IMG_0382.JPG"
    class="mt-6 has-img-cover" 
    alt="photo looking down on a foot as it gingerly steps on a narrow metal walkway rusted through with holes looking at
    the river below"
    %}

    <section class="section">
        <div class="container">
            <div class="columns is-vcentered mt-2">
                <div class="column">
                    {% include img.html src="/assets/day-01/IMG_0422.JPG" caption="sculpture in Yolanda’s house" %}
                </div>
                <div class="column content journal--george">
                    <p>
                        We get to Yolanda’s around 4 pm, shower and change into our evening wear (which is the same as our day wear) for
                        dinner.
                        Yolanda fixes us a delicious, typical meal; rice and beans, meat, squash, fried plantains, and salad. This meal is
                        distinguished by Yolanda’s meat course.
                    </p>

                    <p><strong>Yolanda’s meat recipe</strong></p>
                    <ol>
                        <li>Take the chicken thighs; wash them in water and vinegar to eliminate the raw chicken smell and cut slices in the
                            chicken
                            so the cooking sauce enters the meat.</li>
                    
                        <li>In a frying pan add a couple of packages of Magi Chicken Consomme, Salsa de China and water. When the mixture is
                            hot add
                            unrefined sugar.</li>
                    
                        <li>In another pan brown the chicken in olive oil.</li>
                    
                        <li>In the first pan add chopped tomatoes and chopped sweet peppers. When the mixture is cooked add the browned
                            chicken with
                            its olive oil. Cover and cook; turning the chicken many times until done.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- DREW'S JOURNAL -->

<section class="hero is-dark is-fullheight-with-navbar"
    style="background-image: url({{ '/assets/day-01/IMG_0286.JPG' | relative_url }}); background-position: left bottom;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Dia 1
            </h1>
            <h2 class="subtitle is-3">
                Drew's Journal
            </h2>
        </div>
    </div>
</section>

<div class="journal__section journal--drew">
    <h1 class="journal__label is-sticky">Drew's Journal</h1>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter content journal--drew">
                    <p>
                        We started walking today. Woke on the floor of a strange house, friends of Orlando who live along a railroad track. We
                        were served dinner and played cards with the owner. Breakfast of rice and beans (a Costa Rican staple), fried cheese,
                        and Coffee. In the wet grey morning, a cab picks us up and struggles to carry us four giant men and our bags across the
                        rough roads. The driver’s son sits in his lap as the 6 of us go some 8 kilometers east towards the sea. The futility of
                        driving 20 minutes and walking back the same road for hours, a peculiar hobby.
                    </p>

                </div>
            </div>
        </div>
    </section>

    {%
        include img.html src="/assets/day-01/IMG_0312.JPG"
        class="has-img-cover"
        alt="photo of cows standing in a lush green field under overcast skys"
    %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter content journal--drew">
                
                    <p>
                        Light rain and grey skies. Flowers, birds, cows, and a gang of howler monkeys. We walk through a banana plantation. The
                        plants are tied together with cord to hold them up against the gravity of their green bananas wrapped in blue plastic
                        (to protect them from pests). A man dressed in a yellow smock, like a ripe fruit, sprays poison from a tank on his back.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    {%
                        include img.html src="/assets/day-01/IMG_0351.JPG"
                        alt="photo of banannas hanging from their trees, each bunch wrapped in a blue plastic"
                    %}
                </div>
                <div class="column is-half content journal--drew">
                    
                    <p>
                        We take a detour and visit the factory to see an endless stream of bananas washed and packed into familiar boxes.
                        Orlando tells us that the worst job is packing the truck, Skittles tells us that his father is the one who unloads the
                        tucks back in the US.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter content journal--drew">

                    <p>
                        I feel fortunate to see the other side. As I walk with Orlando I try to find a thread of distrust with the Dole and
                        Chiquita corporations (for like, the Banana Massacre and stuff) but he only offers a measured response of “some find bad
                        things, others don’t”. It isn’t as simple as big companies are bad and the workers oppressed is it?
                    </p>
                    
                    <p>
                        By noon we reach train tracks, the same we slept near the night before. While asking for directions to a soda (a small
                        restaurant) the owner of a small market invites us to stay for lunch. As we eat she teaches us that the secret to good
                        pineapple juice is to leave the pulp in the beverage pitcher.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="contrainer">
            <div class="columns">
                <div class="column">
                    {%
                        include img.html src="/assets/day-01/IMG_0359.JPG"
                        class="has-inside-caption"
                        alt="photo looking at the front of a small soda, the walls are painted pink behind iron bars. A pallet of wood and blue bike lean against the fencing. A tall white man, Drew, stand near the front door."
                        caption="Katy's Market"
                    %}
                </div>
                <div class="column">
                    {%
                        include img.html src="/assets/day-01/IMG_0362.JPG"
                        class="has-inside-caption"
                        alt="A street side near the train tracks. Fencing and bars dominate the space. A bentch, probably a bus stop, holds the foreground."
                        caption="Along the road and train tracks"
                    %}
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter content journal--drew">
                    
                    <p>
                        Bellies full, we begin our walk west along the train tracks. The sun is hot and the road is busy. Everyone we pass says
                        hello, hola, buenos, or waves. Three gringos with large packs burning in the sun for fun. A strange sight.
                    </p>

                </div>
            </div>
        </div>
    </section>

    {%
        include img.html src="/assets/day-01/IMG_1505.JPG"
        class="has-img-cover has-inside-caption"
        alt="Photo looking down a road flanked by a train track. On the tracks a blue train speeds towards the photographer."
        caption=""
    %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter content journal--drew">
                    
                    <p>
                        We pass piles of trash along the road. Orlando laments the sight. “The people here don’t care for their environment”, he
                        says. I try to relate and convict my people, Americans, for their littering ways. He rejects the notion, and says that
                        people from the states care deeply for the environment. It takes me a few more kilometers to understand my resistance to
                        the idea.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight-with-navbar"
        style="background-image: url({{ '/assets/day-01/IMG_1499.JPG' | relative_url }}); background-position: center bottom;">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third is-offset-two-thirds journal--box">
                        
                        <h1 class="title journal--drew">Trashing</h1>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter content journal--drew">

                    <p>
                        We walk past more ad hoc trash heaps. More plastic bottles and burn piles, bags of diapers. Shit, trash, crap, junk,
                        waste. Stuff that will take thousands of years to disappear. It’s ugly against the lush and lovely greens of this land.
                        We all grumble as we pass. What a shame.
                    </p>

                    <p>
                        Yet I come from the land of opulent gluttony, we use nearly a quarter of the resources but constitute less than a 10th
                        of the world’s people; a single serving, quick and easy, plastic wrapped culture. We leave the TV and lights on for our
                        pets.
                    </p>

                    <p>
                        Sure, the Ticos (Costaricans) trash the median but my people are trashing the whole world. We buy the bananas from this
                        land. I know former executives from Coke who provide the plastic bottles that end up in the river. I fly down here to
                        hike with my brand new synthetic backpack. Pockets filled with plastic wrapped protein bars.
                    </p>

                    <p>
                        Oh, I will put those wrappers in the “proper” place so they end up in some hole somewhere else. A landfill out of sight,
                        in someone else’s backyard. I’ll cast the invisible garbage of methane from my burgers and carbon monoxide from my
                        planes. My burn piles are on an industrial scale.
                    </p>

                    <p>
                        Look how <strong>these people</strong> are ruining the environment, I lament atop my throne of trash and ash. These people use in a year
                        the water and electricity I use in a month. My home, which is buying local, trying our best to be <strong>good</strong>, is still pissing
                        away 2.5 gallons of drinking water with every flush.
                    </p>

                    <p>
                        It feels like shame, it feels like hypocrisy, but mainly it makes me feel trapped. Trapped in a way of being divorced
                        from reality. In the simulacrum, the alternate reality overlaps on a real life I can see but not join.
                    </p>

                </div>
            </div>
        </div>
    </section>
                    
</div>